# Ignore SQLite database
db.sqlite3
staticfiles/

# Environment variables
.env
.env.local
.env.*.local
*.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore directory
myenv/

# ignore cache file
cache/
*.json
weather_cache.json 
